@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Nova+Square&family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

.flex{
    display: flex;
}

.align{
    align-items: center;
}

.justify{
    justify-content: space-between;
}

/*-------------------- nav bar---------------------  */

#logo{
    width: 200px;
    height: 150px;
    margin-left: 50px;
}


nav{
    margin: 10px 0;
}

#text{
    margin-top: 40px;
}

#randomBtn{
    margin-top: 50px;
    width: 200px;
    height: 45px;
    border-radius:10px ;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color:#6f9844da;
    color:white; 
    font-weight: bold; 
    cursor: pointer;  
}

nav>div>a{
    text-decoration:none;
    color: black;
    font-family: 'Inter', sans-serif;
    padding: 0 20px ;
    font-size: 23px;
}

#greenCircle{
    position: absolute;
    top: 0;
    left: 54%;
    width: 700px;
    z-index: -1;
}

#search{
    border:2px solid black;
    border-radius: 40px;
    width: 350px;
    height: 40px;
    margin-top: 35px;
}

#search>img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-left: 10px;
}


input[type=text]{
    border: none;
    padding: 10px;
    width: 200px;
}

#blackText{
    font-family: 'Nova Square', sans-serif;
    color: black;
    font-size: 60px;
    padding-top: 90px;

}
#orangeText{
    font-family: 'Nova Square', sans-serif;
    color:#FF9F03;
    font-size: 60px;
    padding-bottom: 60px;
}

#orangeText+p{
    font-size: 20px;
    width: 700px;
    line-height: 30px;
}

.header{
    justify-content: space-around;
}

#homeFood{
   margin-left: -200px;

}


/*---------------------styling category list---------------------*/
#popDown{
    text-align: center;
    width: 188px;
    position: absolute;
    top: 76px;
    left: 685px;
    display:none;
    background-color: #84A75F;
    height: 440px;
    border-radius:0 0 10px 10px;
    color:white;
    padding-top: 20px;
}

#popDown>h3{
    padding: 3px 0;
    font-weight: 300;
}

#popDown>h3:hover{
    color: black;
    cursor: pointer;
    font-weight: bold;
}


#categoryBtn{
    padding-top: 10px;
    border-radius: 10px 10px 0 0;
}

/*--------------------- random meal----------------------- */
#random{
    margin-top: 100px;
    width: 100vw;
    background-color: #F6FFE1;
    background-image: url("./assests/doodle-bg.png");
    text-align: center;
}


#randomMeal>h2{
    font-family: 'Nova Square', sans-serif;
    color: black;
    font-size: 30px;
    padding: 70px 0 50px 0;
}

#randomMeal>div>img{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border: 5px solid #6F9844;
}

#randomMeal>h3{
    padding: 30px 0 20px 0;
    font-size: 30px;
}

#randomMeal>p{
    color: rgb(136, 134, 134);
    font-size: 15px;
    padding-bottom:30px ;
}

/*--------------------- categories------------------------- */

#categories{
    background-image: url("./assests/doodle-bg.png");
}

#categories>h3{
    padding-top: 100px;

}


#grid{
    display:grid;
    row-gap: 50px;
    grid-template-columns: repeat(3,1fr);
    padding-left: 110px;
}

#searchCategory>h3{
    font-size: 25px;
    color: #6F9844;
    margin-left: 120px;
    margin-bottom: 30px;
    padding-top: 50px;
}

#orange{
    font-family: 'Nova Square', sans-serif;
    color: #FF9F03;
}

#searchCategory>p{
    color:rgb(136, 134, 134);
    margin-left: 120px;
    font-size: 15px;
    padding-bottom: 20px;
}

.element{
  width: 350px;
  height: 410px;
  background-color: #F6FFE1;
  text-align: center;
  border: 5px solid #6F9844;
  border-radius: 10px;
}

.element>img{
 width: 250px;
 height: 250px;
 margin-top: 30px;
 margin-bottom: 10px;
 box-shadow: 6px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.element>img+h3{
  padding: 20px 0;
  font-size: 20px;
  width: 300px;
  margin: auto;
}

/*---------------------- error-------------------------*/
.center{
    justify-content: center;
}

#error{
    display: none;
}

#error>h3{
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
    padding-bottom: 130px;
}

/*------------------ footer-------------------------*/
.footer{
   justify-content: space-around;
   padding: 20px 0;
   background-color: #F6FFE1;
}
#content{
    margin-top: 30px;
}

.between{
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}
.between>div{
    padding:0 40px;
}

#aboutUs{
    width:600px ;
}



/*---------------------- pop up ---------------------- */

#popUp{
    position:fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.413);
    backdrop-filter: blur( 6px );
    width: 100vw;
    height: 100vh;
    display: none;
}

.column{
    flex-direction: column; 
    text-align: center; 
}

#recipe{
  background-color: #F6FFE1;
  background-image:url("./assests/doodle-bg.png");
  position: absolute;
  top: 18%;
  left: 28%;
  width: 700px;
  height: 500px;
  border-radius: 10px;
  overflow-y: scroll;
}

#recipe::-webkit-scrollbar{
    display: none;
}

.column>img{
    margin: auto;
    margin-top: 30px;
    width: 300px;
    height: 250px;
    border: 5px solid #6F9844;
    border-radius: 10px;
}

.column>h3{
    margin: 10px 0;
}

#mealName{
   font-size: 18px;
   letter-spacing: 3px;
   padding: 10px 0; 
}

.column>h2{
    font-family: 'Nova Square', sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    padding-bottom: 30px;
    padding-top: 50px;
    color: #b46f01;
}


.column>ul>li{
    font-size: 18px;
    padding: 5px 0;
}

#closeBtn{
    position: fixed;
    width: 30px;
    height: 30px;
    border: none;
    left: 69%;
    cursor: pointer;
}

#instruction,#link{
    font-size: 18px;
    font-weight: 200;
    width: 530px;
    margin: auto;
    line-height: 30px;
}

#link{
    padding-bottom: 50px;
    text-decoration: none;
    color: black;
}






/* media query  */

@media screen and (max-width:480px) {


    body{
        overflow-x: hidden;
    }
    hr{
        display: none;
    }

    #logo{
        width: 60px;
        height: 50px;
        margin-left: auto;
    }

    nav{
        margin: 10px 0;
    }
    
    #text{
        margin-top: 10px;
    }
    
    #randomBtn{
        margin-top: 20px;
        width: 100px;
        height: 25px;
        font-size: 8px;
        font-weight: 500; 
        margin-left: 30px;
    }
    
    nav>div>a{
        padding: 0 2px ;
        font-size: 10px;
    }
    #search{
        border: 1px solid black;
        width: 100px;
        height: 15px;
        margin-top: 15px;
    }

    #search>img{
        width: 7px;
        height: 7px;
        margin-right: 3px;
        margin-left: 2px;
    }
    
    
    input[type=text]{
        padding: 0;
        width: 80px;
        font-size: 7px;
    }
    
    /* header  */
    #blackText{
        font-size: 20px;
        padding-top: 10px;
        line-height: 30px;
        padding-left: 30px;
        
    }
    #orangeText{

        font-size: 20px;
        padding-bottom: 10px;
        padding-left: 30px;
    }
    
    #orangeText+p{
        font-size: 8px;
        width: 250px;
        line-height: 15px;
        padding-left: 30px;
        /* display: none; */
    }
    
    .header{
        justify-content: space-evenly;
 
    }

    #homeFoodDiv{
        width: 130px;
    }

    #homeFood{
        width: 140px;
        height: 140px;
        margin-left: -10%;
        margin-top: 15%;
    }

    #greenCircle{
        left: 51%;
        width: 180px;
        height: 160px;
    }
    
    
    /*---------------------styling category list---------------------*/
    #popDown{
        width: 69px;
        top: 36px;
        left:174px;
        display:none;
        height: 220px;
        padding-top: 10px;
    }
    
    #popDown>h3{
        padding: 1px 0;
        font-size: 10px;
    }
    
    #categoryBtn{
        padding-top: 10px;
        border-radius: 10px 10px 0 0;
    }
    
    /*--------------------- random meal----------------------- */
    #random{
        margin-top: 30px;
        text-align: center;
    }
    
    
    #randomMeal>h2{
        font-size: 15px;
        padding: 30px 0 30px 0;
        width: 250px;
        margin: auto;
        line-height: 25px;
    }
    
    #randomMeal>div>img{
        width: 150px;
        height: 150px;
        border-width: 3px;
    }
    
    #randomMeal>h3{
        padding: 20px 0 10px 0;
        font-size: 15px;
    }
    
    #randomMeal>p{
        font-size: 8px;
        padding-bottom:30px ;
    }
    
    /*--------------------- categories------------------------- */
    
    
    #grid{
        row-gap: 20px;
        grid-template-columns: repeat(2,1fr);
        padding-left: 10px;
    }
    
    #searchCategory>h3{
        font-size: 13px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    #searchCategory>p{
        margin-left: 20px;
        font-size: 8px;
    }
    
    .element{
      width: 170px;
      height: 160px;
      border-width: 3px;
    }
    
    .element>img{
     width: 120px;
     height: 80px;
     margin-top: 10px;
     box-shadow: 4px 2px 2px 2px rgba(0, 0, 0, 0.25);
    }
    
    .element>img+h3{
      padding:0;
      font-size: 10px;
      width: 130px;
    }
    
    /*---------------------- error-------------------------*/

     #error>h3{
        font-size: 15px;
        margin-top: 30px;
        padding-bottom: 50px;
    }
    
    #gif{
        width: 130px;
    }
    
    /*------------------ footer-------------------------*/
    .footer{
       justify-content: space-between;
       align-items: center;
       padding:0;
    }
    
    .footer>div>img{
        width: 100px;
        height: 80px;
        
    }
    #content{
        /* display: flex; */
        margin-top: 30px;
    }
    
    .between{
        margin-top: 10px;
    }
    .between>div{
        padding:0 20px;
        margin-bottom: 20px;
    }

    .icon{
        width: 15px;
        height: 15px;
    }
    
    #aboutUs{
        width:250px ;
        padding-right:30px ;
        font-size: 8px;
    }
    
    /*---------------------- pop up ---------------------- */
    #recipe{
      top: 30%;
      left: 10%;
      width: 300px;
      height: 300px;
    }

    .column>img{
        width: 180px;
        height: 150px;
        border: 5px solid #6F9844;
        border-radius: 10px;
    }
    
    #mealName{
       font-size: 18px;
    }
    
    .column>h2{
        font-size: 25px;
    }

    #closeBtn {
        width: 20px;
        height: 20px;
        left: 81%;
    }

    #instruction{
        font-size: 18px;
        width: 220px;
    }
    
    #link{
        font-size: 15px;
        width: 300px;
    }
    
}


